.cardGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--principal);
    border: 1px solid var(--color-gray);
    padding: 10px;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.cardGroup>h4{
    font-size: 1.2rem;
    font-weight: bold;
}

.codeGroup{
    background-color: var(--color-darker);
    padding: 5px 10px;
    border-radius: var(--border-p);
    font-size: 2rem;
}

@media (max-width: 800px) {
    
    .cardGroup{
        flex: 1;
    }

}
