.cardImage{
    position: relative;
}

.iconDelete{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(207, 30, 30);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: rgba(212, 212, 212, 0.993);
    z-index: 2;
    font-weight: bold;
    transition: all 0.2s;
}

.iconDelete:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
}

.image{
    border-radius: var(--principal);
}