.header{
    display: flex;
    padding: 10px 15px;
    position: fixed;
    margin: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
    border-radius: var(--principal);
    align-items: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    z-index: 12;
}

.navBtns{
    display: flex;
    gap: 10px;
}